<div class="jumbotron">
  <div class="container">
    <h1>Daniel Newell and Grant Postma</h1>
    <p>The site helps our development teams track bugs.</p>
    <p>
      <%= link_to 'My Bugs', controller: 'bugs', class:"btn btn-default"%> | 
      <%= link_to 'My Users', controller: 'users', class:"btn btn-default"%>
    </p>
  </div>
</div>

<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row">
    <% @bugs.each do |bug| %>
      <div class="col-md-4">
        <h3><%=bug.title%></h3>
        <p><%=bug.description.truncate_words(30)%></p>
        <p><%="#{bug.user.lname},#{bug.user.fname}"%></p>
        <p><%=link_to 'Read more', bug, class: "btn btn-default"%></p>
      </div>
    <% end %>
  </div>
  <hr>
  <footer>
    <p>&copy; 2018 Company, Inc.</p>
  </footer>
</div>
