<h1>Listing Bugs</h1>
 
<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Issue Type</th>
    <th>Priority</th>
    <th>Status</th>
    <th></th>
  </tr>
 
  <% @bugs.each do |bug| %>
    <tr>
      <td><%= (bug.user.try(:lname) + " " + bug.user.try(:fname) || "NA") %></td>
      <td><%= bug.title %></td>
      <td><%= bug.description %></td>
      <td><%= bug.issue_type %></td>
      <td><%= bug.priority %></td>
      <td><%= bug.status %></td>
      <td><%= link_to 'Show', bug_path(bug) %></td>
      <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
      <td><%= link_to 'Destroy', bug_path(bug), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Bug', new_bug_path %>